{

  "machine": {

    "gpu": 0,

    "cpu": 1000,

    "ram": 100

  },

  "job": {

    "APIVersion": "V1beta1",

    "Spec": {

      "Deal": {

        "Concurrency": 1

      },

      "Docker": {

       

        "Image": "shubhamrasal007/fedspace:mushroom_model:0.0.1@sha256:a189071e06161de75a4532cbc7f76440879efb65e7aae7300377674ee9e4eaba"

      },

      "Engine": "Docker",

      "Network": {

        "Type": "None"

      },

      "PublisherSpec": {

        "Type": "IPFS"

      },

      "Resources": {

        "GPU": ""

      },

      "Timeout": 1800,

      "Verifier": "Noop"

    }

  }

}
